<div class="auth-container">
  <mat-card class="password-card">
    <div class="header">
      <img ngSrc="assets/logo-gzouli.jpg" alt="GZouli" class="logo" height="80" width="80">
      <h3>Sécurisez votre compte</h3>
      <p>Il s'agit de votre première connexion. Veuillez définir un nouveau mot de passe.</p>
    </div>

    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">


      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nouveau mot de passe</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="newPassword">
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        @if(passwordForm.get('newPassword')?.hasError('minlength')) {
          <mat-error>
            Minimum 12 caractères requis.
          </mat-error>
        }
      </mat-form-field>

      @if (passwordForm.get('newPassword')?.dirty || passwordForm.get('newPassword')?.touched) {
        <div class="password-requirements-container">
          <p class="requirements-title">Le mot de passe doit contenir :</p>
          @let errors = passwordForm.get('newPassword')?.getError('passwordStrength');
          <ul class="requirements-list">
            <li [class.valid]="errors && !errors.hasNumber">Au moins un chiffre</li>
            <li [class.valid]="errors && !errors.hasSpecialChar">Au moins un caractère spécial</li>
            <li [class.valid]="errors && !errors.hasUppercase">Au moins une lettre en majuscule</li>
            <li [class.valid]="errors && !errors.hasLowercase">Au moins une lettre en minuscule</li>
          </ul>
        </div>
      }

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Confirmer le mot de passe</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="confirmPassword">
        @if(passwordForm.hasError('mismatch')) {
          <mat-error>
            Les mots de passe ne correspondent pas.
          </mat-error>
        }
      </mat-form-field>

      <button mat-raised-button color="primary" class="action-btn"
              [disabled]="passwordForm.invalid || isLoading">
        @if(!isLoading) {
          <span>VALIDER LE CHANGEMENT</span>
        }
        @if(isLoading) {
          <mat-spinner diameter="20"></mat-spinner>
        }
      </button>
    </form>
  </mat-card>
</div>
