<h2 mat-dialog-title>Affecter du Matériel au Chantier</h2>
<mat-dialog-content class="dialog-container">
  <form [formGroup]="form">

    <p class="text-muted" style="margin-bottom: 20px; color: #666;">
      Sélectionnez un équipement disponible dans le stock global pour l'envoyer sur ce projet.
    </p>

    <!-- Liste Déroulante -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Choisir l'équipement</mat-label>
      <mat-select formControlName="equipmentId">
        @for (item of availableStock; track item.id) {
          <mat-option [value]="item.id">
            {{ item.label }} <small>({{ item.reference }})</small> - <span style="color:green">{{ item.state }}</span>
          </mat-option>
        }
        @if (availableStock.length === 0) {
          <mat-option disabled>Aucun matériel disponible en stock</mat-option>
        }
      </mat-select>
      <mat-error>Champ requis</mat-error>
    </mat-form-field>

    <!-- Date de début -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Date de mise à disposition</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="startDate">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Annuler</button>
  <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="form.invalid || isLoading">
    {{ isLoading ? 'En cours...' : 'Valider Affectation' }}
  </button>
</mat-dialog-actions>

